html{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body {
    background-image: url(/MDN/test-site/images/arthus-pilorget-illu-island-v03b.jpg);
    background-blend-mode:lighten;

}
p{
    color: gold;
    padding-left: 20px;
}
li{
    color: rgb(255, 78, 47);
    padding-left: 10px;
}
h1,h2,h3{
    color: lightgreen;
    width: 500px;
    border: 3px solid black;
    padding-left: 5px;
}